################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaiduMap.Xamarin.Droid/obj/Debug
